CubeMonitor/G431_PID_BUCK_I_TEST.json
[
    {
        "id": "8381c865.236028",
        "type": "subflow",
        "name": "Single value",
        "info": "The 'single value' subflow allows to extract data from processing node.\r\n\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on : [Node-Red](https://nodered.org/docs/user-guide/editor/workspace/subflows)\r\n\r\n\r\n-------\r\n\r\n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3c5ffe0d.9063b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "66397fd3.d8111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "varfilter",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-filter",
                    "label": {
                        "en-US": "Variable"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#3CB4E6"
    },
    {
        "id": "3c5ffe0d.9063b2",
        "type": "switch",
        "z": "8381c865.236028",
        "name": "filter variable",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "varfilter",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4e5ba7a5.14dec8"
            ]
        ]
    },
    {
        "id": "4e5ba7a5.14dec8",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only table of duplets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variabledata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "42bc6ed.5b20d9"
            ]
        ]
    },
    {
        "id": "42bc6ed.5b20d9",
        "type": "split",
        "z": "8381c865.236028",
        "name": "Split a table[1..n] of duplets in n msg of single duplet",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8b8ddb84.6fb208"
            ]
        ]
    },
    {
        "id": "8b8ddb84.6fb208",
        "type": "delay",
        "z": "8381c865.236028",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "66397fd3.d8111"
            ]
        ]
    },
    {
        "id": "66397fd3.d8111",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only value and delete timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "电流曲线",
        "order": 1,
        "width": 12,
        "height": 8,
        "chartType": "line",
        "curveType": "linear",
        "duration": "5",
        "ymin": "",
        "ymax": "",
        "x": 960,
        "y": 120,
        "wires": []
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "b71b431604966fc1",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "b71b431604966fc1",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "a7c3e070.5a6c",
                "2066a029f4bfe9df"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "SHOW",
        "accesspoint": 0,
        "execonfig": "e4769ca7aa53ca60",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "Ibat",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1715001639025,
        "openStatus": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "6013fb0b.5b7504"
            ],
            [
                "f14d0398.f1861"
            ]
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "清除",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "topicType": "str",
        "x": 830,
        "y": 260,
        "wires": [
            [
                "1ebbb430.dac7dc",
                "5d970f94d6cdf84a",
                "995663164a282ce4",
                "a6399c7df4811fa6",
                "1d2d533b5f5a44ee",
                "e47d18e0edbfa4cc"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "开始",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "topicType": "str",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748",
                "665b3205c901fe21"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "停止",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "topicType": "str",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748",
                "665b3205c901fe21"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "SHOW",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 760,
        "y": 120,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ],
            []
        ]
    },
    {
        "id": "f14d0398.f1861",
        "type": "ui_toast",
        "z": "7b9ed63e.2138f8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 290,
        "y": 260,
        "wires": []
    },
    {
        "id": "be35a18e9983cd7b",
        "type": "inject",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 400,
        "wires": [
            [
                "dfac2505df63daef"
            ]
        ]
    },
    {
        "id": "6277615151a15ed0",
        "type": "ui_write",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "改BUCK电流环PID",
        "order": 7,
        "width": 8,
        "height": 6,
        "x": 490,
        "y": 400,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "dfac2505df63daef",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "PID_BUCK_I",
        "accesspoint": 0,
        "execonfig": "26408d9f22f08d37",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "PID_buck_I.Ki",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1715003760532,
        "openStatus": true,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "6277615151a15ed0"
            ],
            []
        ]
    },
    {
        "id": "2066a029f4bfe9df",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "PID_SHOW",
        "groupid": "665b3205c901fe21",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 730,
        "y": 400,
        "wires": [
            [
                "02a0e0af2156c2db",
                "e6128e7155483d9d",
                "8465d102eb591a62",
                "8b8813204ea5907d",
                "c3a4dd54892a9c68",
                "f551d9bf59af7af3"
            ],
            []
        ]
    },
    {
        "id": "665b3205c901fe21",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "PID_SHOW",
        "accesspoint": 0,
        "execonfig": "d9b69645abaa3063",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "PID_buck_I.Ki",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1715003562605,
        "openStatus": true,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "6013fb0b.5b7504"
            ],
            []
        ]
    },
    {
        "id": "02a0e0af2156c2db",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "电流环KP",
        "env": [
            {
                "name": "varfilter",
                "value": "PID_buck_I.Kp",
                "type": "str"
            }
        ],
        "x": 900,
        "y": 360,
        "wires": [
            [
                "5d970f94d6cdf84a"
            ]
        ]
    },
    {
        "id": "e6128e7155483d9d",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "电流环KI",
        "env": [
            {
                "name": "varfilter",
                "value": "PID_buck_I.Ki",
                "type": "str"
            }
        ],
        "x": 900,
        "y": 420,
        "wires": [
            [
                "995663164a282ce4"
            ]
        ]
    },
    {
        "id": "5d970f94d6cdf84a",
        "type": "ui_text",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "电流环KP",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "995663164a282ce4",
        "type": "ui_text",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "电流环KI",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "8465d102eb591a62",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "电流环积分",
        "env": [
            {
                "name": "varfilter",
                "value": "PID_buck_I.Integral",
                "type": "str"
            }
        ],
        "x": 910,
        "y": 480,
        "wires": [
            [
                "a6399c7df4811fa6"
            ]
        ]
    },
    {
        "id": "8b8813204ea5907d",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "电流环ADC反馈",
        "env": [
            {
                "name": "varfilter",
                "value": "FB_Icap",
                "type": "str"
            }
        ],
        "x": 920,
        "y": 540,
        "wires": [
            [
                "1d2d533b5f5a44ee"
            ]
        ]
    },
    {
        "id": "a6399c7df4811fa6",
        "type": "ui_text",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "电流环积分",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "1d2d533b5f5a44ee",
        "type": "ui_text",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "电流环ADC反馈",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1120,
        "y": 540,
        "wires": []
    },
    {
        "id": "c3a4dd54892a9c68",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "PWM比较值",
        "env": [
            {
                "name": "varfilter",
                "value": "PID_CurrentLoopOut",
                "type": "str"
            }
        ],
        "x": 910,
        "y": 600,
        "wires": [
            [
                "e47d18e0edbfa4cc"
            ]
        ]
    },
    {
        "id": "e47d18e0edbfa4cc",
        "type": "ui_text",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "PWM比较值",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1110,
        "y": 600,
        "wires": []
    },
    {
        "id": "f551d9bf59af7af3",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "PWM比较值",
        "env": [
            {
                "name": "varfilter",
                "value": "PID_buck_I.ControllerDirection",
                "type": "str"
            }
        ],
        "x": 910,
        "y": 660,
        "wires": [
            [
                "0e3cb9a06825f550"
            ]
        ]
    },
    {
        "id": "0e3cb9a06825f550",
        "type": "ui_text",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "状态",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 660,
        "wires": []
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b71b431604966fc1",
        "type": "probe",
        "probeid": "52FF6E067285495534141567",
        "probename": "ST-Link v2 52FF6E067285495534141567",
        "protocol": "SWD",
        "frequency": "4.6 MHz",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J43",
        "connectionType": "p2p",
        "nickname": "STLINK_V2"
    },
    {
        "id": "e4769ca7aa53ca60",
        "type": "exe-config",
        "name": "Show",
        "exefile": "C:\\Users\\ThinkPad\\Documents\\VSCode\\EIDE\\Projects\\SuperCapPowerBoard_G431_lite\\build\\Debug\\SuperCapPowerBoard_G431_lite.elf",
        "exefolder": "C:\\Users\\ThinkPad\\Documents\\VSCode\\EIDE\\Projects\\SuperCapPowerBoard_G431_lite\\build\\Debug",
        "exevariablelist": [
            {
                "address": "0x20000278",
                "name": "ADC1Value[0]",
                "type": 3
            },
            {
                "address": "0x200003bc",
                "name": "ADC1Value_AVG_Ibat",
                "type": 5
            },
            {
                "address": "0x200003c0",
                "name": "ADC1Value_AVG_Icap",
                "type": 5
            },
            {
                "address": "0x200003c4",
                "name": "ADC1Value_SUM_Ibat[0]",
                "type": 5
            },
            {
                "address": "0x200003d4",
                "name": "ADC1Value_SUM_Icap[0]",
                "type": 5
            },
            {
                "address": "0x200003e4",
                "name": "ADC1Value_SUM_Tcore[0]",
                "type": 5
            },
            {
                "address": "0x200003f4",
                "name": "ADC1Value_SUM_Tmos[0]",
                "type": 5
            },
            {
                "address": "0x20000298",
                "name": "ADC2Value[0]",
                "type": 3
            },
            {
                "address": "0x20000404",
                "name": "ADC2Value_AVG_Vbat",
                "type": 5
            },
            {
                "address": "0x20000408",
                "name": "ADC2Value_AVG_Vboost",
                "type": 5
            },
            {
                "address": "0x2000040c",
                "name": "ADC2Value_AVG_Vcap",
                "type": 5
            },
            {
                "address": "0x20000410",
                "name": "ADC2Value_SUM_Tcap[0]",
                "type": 5
            },
            {
                "address": "0x20000420",
                "name": "ADC2Value_SUM_Vbat[0]",
                "type": 5
            },
            {
                "address": "0x20000430",
                "name": "ADC2Value_SUM_Vboost[0]",
                "type": 5
            },
            {
                "address": "0x20000440",
                "name": "ADC2Value_SUM_Vcap[0]",
                "type": 5
            },
            {
                "address": "0x20000450",
                "name": "ADC_SUM_CNT",
                "type": 5
            },
            {
                "address": "0x08004774",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x200001ca",
                "name": "CAN_RX_data.Dead",
                "type": 1
            },
            {
                "address": "0x200001c8",
                "name": "CAN_RX_data.Flag",
                "type": 1
            },
            {
                "address": "0x200001cb",
                "name": "CAN_RX_data.Move",
                "type": 1
            },
            {
                "address": "0x200001c9",
                "name": "CAN_RX_data.PowerLimint",
                "type": 1
            },
            {
                "address": "0x200001cc",
                "name": "CAN_RX_data.SuperCapCAN_Receive_T",
                "type": 1
            },
            {
                "address": "0x08004784",
                "name": "DLCtoBytes[0]",
                "type": 1
            },
            {
                "address": "0x20000454",
                "name": "FB_Ibat",
                "type": 9
            },
            {
                "address": "0x20000458",
                "name": "FB_Icap",
                "type": 9
            },
            {
                "address": "0x2000045c",
                "name": "FB_Vbat",
                "type": 9
            },
            {
                "address": "0x20000460",
                "name": "FB_Vboost",
                "type": 9
            },
            {
                "address": "0x20000464",
                "name": "FB_Vcap",
                "type": 9
            },
            {
                "address": "0x200001e4",
                "name": "FDCAN1_RxHeader.BitRateSwitch",
                "type": 5
            },
            {
                "address": "0x200001dc",
                "name": "FDCAN1_RxHeader.DataLength",
                "type": 5
            },
            {
                "address": "0x200001e0",
                "name": "FDCAN1_RxHeader.ErrorStateIndicator",
                "type": 5
            },
            {
                "address": "0x200001e8",
                "name": "FDCAN1_RxHeader.FDFormat",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "FDCAN1_RxHeader.FilterIndex",
                "type": 5
            },
            {
                "address": "0x200001d0",
                "name": "FDCAN1_RxHeader.Identifier",
                "type": 5
            },
            {
                "address": "0x200001d4",
                "name": "FDCAN1_RxHeader.IdType",
                "type": 5
            },
            {
                "address": "0x200001f4",
                "name": "FDCAN1_RxHeader.IsFilterMatchingFrame",
                "type": 5
            },
            {
                "address": "0x200001d8",
                "name": "FDCAN1_RxHeader.RxFrameType",
                "type": 5
            },
            {
                "address": "0x200001ec",
                "name": "FDCAN1_RxHeader.RxTimestamp",
                "type": 5
            },
            {
                "address": "0x20000084",
                "name": "hadc1.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "hadc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "hadc1.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x2000004d",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x2000003c",
                "name": "hadc1.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x20000054",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000068",
                "name": "hadc1.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x20000048",
                "name": "hadc1.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x2000005c",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x20000060",
                "name": "hadc1.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "hadc1.Init.GainCompensation",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "hadc1.Init.LowPowerAutoWait",
                "type": 2
            },
            {
                "address": "0x20000050",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x20000058",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x2000006c",
                "name": "hadc1.Init.Overrun",
                "type": 5
            },
            {
                "address": "0x20000080",
                "name": "hadc1.Init.Oversampling.OversamplingStopReset",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "hadc1.Init.Oversampling.Ratio",
                "type": 5
            },
            {
                "address": "0x20000078",
                "name": "hadc1.Init.Oversampling.RightBitShift",
                "type": 5
            },
            {
                "address": "0x2000007c",
                "name": "hadc1.Init.Oversampling.TriggeredMode",
                "type": 5
            },
            {
                "address": "0x20000070",
                "name": "hadc1.Init.OversamplingMode",
                "type": 2
            },
            {
                "address": "0x20000038",
                "name": "hadc1.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x20000064",
                "name": "hadc1.Init.SamplingMode",
                "type": 5
            },
            {
                "address": "0x20000044",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "hadc1.InjectionConfig.ChannelCount",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "hadc1.InjectionConfig.ContextQueue",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "hadc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "hadc1.Lock",
                "type": 2
            },
            {
                "address": "0x2000008c",
                "name": "hadc1.State",
                "type": 5
            },
            {
                "address": "0x200000f0",
                "name": "hadc2.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "hadc2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "hadc2.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x200000b9",
                "name": "hadc2.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x200000a8",
                "name": "hadc2.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "hadc2.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x200000d4",
                "name": "hadc2.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x200000b4",
                "name": "hadc2.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x200000c8",
                "name": "hadc2.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "hadc2.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "hadc2.Init.GainCompensation",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "hadc2.Init.LowPowerAutoWait",
                "type": 2
            },
            {
                "address": "0x200000bc",
                "name": "hadc2.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "hadc2.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "hadc2.Init.Overrun",
                "type": 5
            },
            {
                "address": "0x200000ec",
                "name": "hadc2.Init.Oversampling.OversamplingStopReset",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "hadc2.Init.Oversampling.Ratio",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "hadc2.Init.Oversampling.RightBitShift",
                "type": 5
            },
            {
                "address": "0x200000e8",
                "name": "hadc2.Init.Oversampling.TriggeredMode",
                "type": 5
            },
            {
                "address": "0x200000dc",
                "name": "hadc2.Init.OversamplingMode",
                "type": 2
            },
            {
                "address": "0x200000a4",
                "name": "hadc2.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x200000d0",
                "name": "hadc2.Init.SamplingMode",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "hadc2.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000104",
                "name": "hadc2.InjectionConfig.ChannelCount",
                "type": 5
            },
            {
                "address": "0x20000100",
                "name": "hadc2.InjectionConfig.ContextQueue",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "hadc2.Instance",
                "type": 5
            },
            {
                "address": "0x200000f4",
                "name": "hadc2.Lock",
                "type": 2
            },
            {
                "address": "0x200000f8",
                "name": "hadc2.State",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "HAL_RCC_ADC12_CLK_ENABLED",
                "type": 5
            },
            {
                "address": "0x2000014c",
                "name": "hdma_adc1.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x20000148",
                "name": "hdma_adc1.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x20000150",
                "name": "hdma_adc1.DMAmuxChannel",
                "type": 5
            },
            {
                "address": "0x20000154",
                "name": "hdma_adc1.DMAmuxChannelStatus",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "hdma_adc1.DMAmuxChannelStatusMask",
                "type": 5
            },
            {
                "address": "0x2000015c",
                "name": "hdma_adc1.DMAmuxRequestGen",
                "type": 5
            },
            {
                "address": "0x20000160",
                "name": "hdma_adc1.DMAmuxRequestGenStatus",
                "type": 5
            },
            {
                "address": "0x20000164",
                "name": "hdma_adc1.DMAmuxRequestGenStatusMask",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "hdma_adc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000110",
                "name": "hdma_adc1.Init.Direction",
                "type": 5
            },
            {
                "address": "0x20000120",
                "name": "hdma_adc1.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000118",
                "name": "hdma_adc1.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "hdma_adc1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x2000011c",
                "name": "hdma_adc1.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000114",
                "name": "hdma_adc1.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000128",
                "name": "hdma_adc1.Init.Priority",
                "type": 5
            },
            {
                "address": "0x2000010c",
                "name": "hdma_adc1.Init.Request",
                "type": 5
            },
            {
                "address": "0x20000108",
                "name": "hdma_adc1.Instance",
                "type": 5
            },
            {
                "address": "0x2000012c",
                "name": "hdma_adc1.Lock",
                "type": 2
            },
            {
                "address": "0x20000130",
                "name": "hdma_adc1.Parent",
                "type": 5
            },
            {
                "address": "0x2000012d",
                "name": "hdma_adc1.State",
                "type": 2
            },
            {
                "address": "0x20000140",
                "name": "hdma_adc1.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x20000134",
                "name": "hdma_adc1.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x2000013c",
                "name": "hdma_adc1.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000138",
                "name": "hdma_adc1.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200001ac",
                "name": "hdma_adc2.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x200001a8",
                "name": "hdma_adc2.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x200001b0",
                "name": "hdma_adc2.DMAmuxChannel",
                "type": 5
            },
            {
                "address": "0x200001b4",
                "name": "hdma_adc2.DMAmuxChannelStatus",
                "type": 5
            },
            {
                "address": "0x200001b8",
                "name": "hdma_adc2.DMAmuxChannelStatusMask",
                "type": 5
            },
            {
                "address": "0x200001bc",
                "name": "hdma_adc2.DMAmuxRequestGen",
                "type": 5
            },
            {
                "address": "0x200001c0",
                "name": "hdma_adc2.DMAmuxRequestGenStatus",
                "type": 5
            },
            {
                "address": "0x200001c4",
                "name": "hdma_adc2.DMAmuxRequestGenStatusMask",
                "type": 5
            },
            {
                "address": "0x200001a4",
                "name": "hdma_adc2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000170",
                "name": "hdma_adc2.Init.Direction",
                "type": 5
            },
            {
                "address": "0x20000180",
                "name": "hdma_adc2.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000178",
                "name": "hdma_adc2.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000184",
                "name": "hdma_adc2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x2000017c",
                "name": "hdma_adc2.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000174",
                "name": "hdma_adc2.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000188",
                "name": "hdma_adc2.Init.Priority",
                "type": 5
            },
            {
                "address": "0x2000016c",
                "name": "hdma_adc2.Init.Request",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "hdma_adc2.Instance",
                "type": 5
            },
            {
                "address": "0x2000018c",
                "name": "hdma_adc2.Lock",
                "type": 2
            },
            {
                "address": "0x20000190",
                "name": "hdma_adc2.Parent",
                "type": 5
            },
            {
                "address": "0x2000018d",
                "name": "hdma_adc2.State",
                "type": 2
            },
            {
                "address": "0x200001a0",
                "name": "hdma_adc2.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x20000194",
                "name": "hdma_adc2.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x2000019c",
                "name": "hdma_adc2.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000198",
                "name": "hdma_adc2.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000258",
                "name": "hfdcan1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000208",
                "name": "hfdcan1.Init.AutoRetransmission",
                "type": 2
            },
            {
                "address": "0x200001fc",
                "name": "hfdcan1.Init.ClockDivider",
                "type": 5
            },
            {
                "address": "0x2000021c",
                "name": "hfdcan1.Init.DataPrescaler",
                "type": 5
            },
            {
                "address": "0x20000220",
                "name": "hfdcan1.Init.DataSyncJumpWidth",
                "type": 5
            },
            {
                "address": "0x20000224",
                "name": "hfdcan1.Init.DataTimeSeg1",
                "type": 5
            },
            {
                "address": "0x20000228",
                "name": "hfdcan1.Init.DataTimeSeg2",
                "type": 5
            },
            {
                "address": "0x20000230",
                "name": "hfdcan1.Init.ExtFiltersNbr",
                "type": 5
            },
            {
                "address": "0x20000200",
                "name": "hfdcan1.Init.FrameFormat",
                "type": 5
            },
            {
                "address": "0x20000204",
                "name": "hfdcan1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x2000020c",
                "name": "hfdcan1.Init.NominalPrescaler",
                "type": 5
            },
            {
                "address": "0x20000210",
                "name": "hfdcan1.Init.NominalSyncJumpWidth",
                "type": 5
            },
            {
                "address": "0x20000214",
                "name": "hfdcan1.Init.NominalTimeSeg1",
                "type": 5
            },
            {
                "address": "0x20000218",
                "name": "hfdcan1.Init.NominalTimeSeg2",
                "type": 5
            },
            {
                "address": "0x2000020a",
                "name": "hfdcan1.Init.ProtocolException",
                "type": 2
            },
            {
                "address": "0x2000022c",
                "name": "hfdcan1.Init.StdFiltersNbr",
                "type": 5
            },
            {
                "address": "0x20000209",
                "name": "hfdcan1.Init.TransmitPause",
                "type": 2
            },
            {
                "address": "0x20000234",
                "name": "hfdcan1.Init.TxFifoQueueMode",
                "type": 5
            },
            {
                "address": "0x200001f8",
                "name": "hfdcan1.Instance",
                "type": 5
            },
            {
                "address": "0x20000250",
                "name": "hfdcan1.LatestTxFifoQRequest",
                "type": 5
            },
            {
                "address": "0x20000255",
                "name": "hfdcan1.Lock",
                "type": 2
            },
            {
                "address": "0x2000023c",
                "name": "hfdcan1.msgRam.ExtendedFilterSA",
                "type": 5
            },
            {
                "address": "0x20000240",
                "name": "hfdcan1.msgRam.RxFIFO0SA",
                "type": 5
            },
            {
                "address": "0x20000244",
                "name": "hfdcan1.msgRam.RxFIFO1SA",
                "type": 5
            },
            {
                "address": "0x20000238",
                "name": "hfdcan1.msgRam.StandardFilterSA",
                "type": 5
            },
            {
                "address": "0x20000248",
                "name": "hfdcan1.msgRam.TxEventFIFOSA",
                "type": 5
            },
            {
                "address": "0x2000024c",
                "name": "hfdcan1.msgRam.TxFIFOQSA",
                "type": 5
            },
            {
                "address": "0x20000254",
                "name": "hfdcan1.State",
                "type": 2
            },
            {
                "address": "0x200002cc",
                "name": "hopamp1.Init.InternalOutput",
                "type": 2
            },
            {
                "address": "0x200002c4",
                "name": "hopamp1.Init.InvertingInput",
                "type": 5
            },
            {
                "address": "0x200002d4",
                "name": "hopamp1.Init.InvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x200002c0",
                "name": "hopamp1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200002c8",
                "name": "hopamp1.Init.NonInvertingInput",
                "type": 5
            },
            {
                "address": "0x200002d8",
                "name": "hopamp1.Init.NonInvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x200002dc",
                "name": "hopamp1.Init.PgaConnect",
                "type": 5
            },
            {
                "address": "0x200002e0",
                "name": "hopamp1.Init.PgaGain",
                "type": 5
            },
            {
                "address": "0x200002bc",
                "name": "hopamp1.Init.PowerMode",
                "type": 5
            },
            {
                "address": "0x200002d0",
                "name": "hopamp1.Init.TimerControlledMuxmode",
                "type": 5
            },
            {
                "address": "0x200002ec",
                "name": "hopamp1.Init.TrimmingValueN",
                "type": 5
            },
            {
                "address": "0x200002e8",
                "name": "hopamp1.Init.TrimmingValueP",
                "type": 5
            },
            {
                "address": "0x200002e4",
                "name": "hopamp1.Init.UserTrimming",
                "type": 5
            },
            {
                "address": "0x200002b8",
                "name": "hopamp1.Instance",
                "type": 5
            },
            {
                "address": "0x200002f1",
                "name": "hopamp1.Lock",
                "type": 2
            },
            {
                "address": "0x200002f2",
                "name": "hopamp1.State",
                "type": 2
            },
            {
                "address": "0x200002f0",
                "name": "hopamp1.Status",
                "type": 2
            },
            {
                "address": "0x20000308",
                "name": "hopamp2.Init.InternalOutput",
                "type": 2
            },
            {
                "address": "0x20000300",
                "name": "hopamp2.Init.InvertingInput",
                "type": 5
            },
            {
                "address": "0x20000310",
                "name": "hopamp2.Init.InvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x200002fc",
                "name": "hopamp2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000304",
                "name": "hopamp2.Init.NonInvertingInput",
                "type": 5
            },
            {
                "address": "0x20000314",
                "name": "hopamp2.Init.NonInvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x20000318",
                "name": "hopamp2.Init.PgaConnect",
                "type": 5
            },
            {
                "address": "0x2000031c",
                "name": "hopamp2.Init.PgaGain",
                "type": 5
            },
            {
                "address": "0x200002f8",
                "name": "hopamp2.Init.PowerMode",
                "type": 5
            },
            {
                "address": "0x2000030c",
                "name": "hopamp2.Init.TimerControlledMuxmode",
                "type": 5
            },
            {
                "address": "0x20000328",
                "name": "hopamp2.Init.TrimmingValueN",
                "type": 5
            },
            {
                "address": "0x20000324",
                "name": "hopamp2.Init.TrimmingValueP",
                "type": 5
            },
            {
                "address": "0x20000320",
                "name": "hopamp2.Init.UserTrimming",
                "type": 5
            },
            {
                "address": "0x200002f4",
                "name": "hopamp2.Instance",
                "type": 5
            },
            {
                "address": "0x2000032d",
                "name": "hopamp2.Lock",
                "type": 2
            },
            {
                "address": "0x2000032e",
                "name": "hopamp2.State",
                "type": 2
            },
            {
                "address": "0x2000032c",
                "name": "hopamp2.Status",
                "type": 2
            },
            {
                "address": "0x20000344",
                "name": "hopamp3.Init.InternalOutput",
                "type": 2
            },
            {
                "address": "0x2000033c",
                "name": "hopamp3.Init.InvertingInput",
                "type": 5
            },
            {
                "address": "0x2000034c",
                "name": "hopamp3.Init.InvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x20000338",
                "name": "hopamp3.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000340",
                "name": "hopamp3.Init.NonInvertingInput",
                "type": 5
            },
            {
                "address": "0x20000350",
                "name": "hopamp3.Init.NonInvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x20000354",
                "name": "hopamp3.Init.PgaConnect",
                "type": 5
            },
            {
                "address": "0x20000358",
                "name": "hopamp3.Init.PgaGain",
                "type": 5
            },
            {
                "address": "0x20000334",
                "name": "hopamp3.Init.PowerMode",
                "type": 5
            },
            {
                "address": "0x20000348",
                "name": "hopamp3.Init.TimerControlledMuxmode",
                "type": 5
            },
            {
                "address": "0x20000364",
                "name": "hopamp3.Init.TrimmingValueN",
                "type": 5
            },
            {
                "address": "0x20000360",
                "name": "hopamp3.Init.TrimmingValueP",
                "type": 5
            },
            {
                "address": "0x2000035c",
                "name": "hopamp3.Init.UserTrimming",
                "type": 5
            },
            {
                "address": "0x20000330",
                "name": "hopamp3.Instance",
                "type": 5
            },
            {
                "address": "0x20000369",
                "name": "hopamp3.Lock",
                "type": 2
            },
            {
                "address": "0x2000036a",
                "name": "hopamp3.State",
                "type": 2
            },
            {
                "address": "0x20000368",
                "name": "hopamp3.Status",
                "type": 2
            },
            {
                "address": "0x20000388",
                "name": "htim1.Channel",
                "type": 2
            },
            {
                "address": "0x200003b0",
                "name": "htim1.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200003aa",
                "name": "htim1.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200003b4",
                "name": "htim1.DMABurstState",
                "type": 2
            },
            {
                "address": "0x2000038c",
                "name": "htim1.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000384",
                "name": "htim1.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x2000037c",
                "name": "htim1.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000374",
                "name": "htim1.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000378",
                "name": "htim1.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000370",
                "name": "htim1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000380",
                "name": "htim1.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x2000036c",
                "name": "htim1.Instance",
                "type": 5
            },
            {
                "address": "0x200003a8",
                "name": "htim1.Lock",
                "type": 2
            },
            {
                "address": "0x200003a9",
                "name": "htim1.State",
                "type": 2
            },
            {
                "address": "0x20000468",
                "name": "Ibat",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000046c",
                "name": "Icap",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000048c",
                "name": "PID_boost_I.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x20000488",
                "name": "PID_boost_I.DispKd",
                "type": 9
            },
            {
                "address": "0x20000484",
                "name": "PID_boost_I.DispKi",
                "type": 9
            },
            {
                "address": "0x20000480",
                "name": "PID_boost_I.DispKp",
                "type": 9
            },
            {
                "address": "0x20000494",
                "name": "PID_boost_I.FirstCompute",
                "type": 6
            },
            {
                "address": "0x20000498",
                "name": "PID_boost_I.Integral",
                "type": 9
            },
            {
                "address": "0x2000047c",
                "name": "PID_boost_I.Kd",
                "type": 9
            },
            {
                "address": "0x20000478",
                "name": "PID_boost_I.Ki",
                "type": 9
            },
            {
                "address": "0x20000474",
                "name": "PID_boost_I.Kp",
                "type": 9
            },
            {
                "address": "0x2000049c",
                "name": "PID_boost_I.LastInput",
                "type": 9
            },
            {
                "address": "0x200004a4",
                "name": "PID_boost_I.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x200004a0",
                "name": "PID_boost_I.MinIntegral",
                "type": 9
            },
            {
                "address": "0x200004ac",
                "name": "PID_boost_I.OutMax",
                "type": 9
            },
            {
                "address": "0x200004a8",
                "name": "PID_boost_I.OutMin",
                "type": 9
            },
            {
                "address": "0x20000490",
                "name": "PID_boost_I.pOn",
                "type": 6
            },
            {
                "address": "0x200004c8",
                "name": "PID_boost_V.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x200004c4",
                "name": "PID_boost_V.DispKd",
                "type": 9
            },
            {
                "address": "0x200004c0",
                "name": "PID_boost_V.DispKi",
                "type": 9
            },
            {
                "address": "0x200004bc",
                "name": "PID_boost_V.DispKp",
                "type": 9
            },
            {
                "address": "0x200004d0",
                "name": "PID_boost_V.FirstCompute",
                "type": 6
            },
            {
                "address": "0x200004d4",
                "name": "PID_boost_V.Integral",
                "type": 9
            },
            {
                "address": "0x200004b8",
                "name": "PID_boost_V.Kd",
                "type": 9
            },
            {
                "address": "0x200004b4",
                "name": "PID_boost_V.Ki",
                "type": 9
            },
            {
                "address": "0x200004b0",
                "name": "PID_boost_V.Kp",
                "type": 9
            },
            {
                "address": "0x200004d8",
                "name": "PID_boost_V.LastInput",
                "type": 9
            },
            {
                "address": "0x200004e0",
                "name": "PID_boost_V.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x200004dc",
                "name": "PID_boost_V.MinIntegral",
                "type": 9
            },
            {
                "address": "0x200004e8",
                "name": "PID_boost_V.OutMax",
                "type": 9
            },
            {
                "address": "0x200004e4",
                "name": "PID_boost_V.OutMin",
                "type": 9
            },
            {
                "address": "0x200004cc",
                "name": "PID_boost_V.pOn",
                "type": 6
            },
            {
                "address": "0x20000504",
                "name": "PID_buck_I.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x20000500",
                "name": "PID_buck_I.DispKd",
                "type": 9
            },
            {
                "address": "0x200004fc",
                "name": "PID_buck_I.DispKi",
                "type": 9
            },
            {
                "address": "0x200004f8",
                "name": "PID_buck_I.DispKp",
                "type": 9
            },
            {
                "address": "0x2000050c",
                "name": "PID_buck_I.FirstCompute",
                "type": 6
            },
            {
                "address": "0x20000510",
                "name": "PID_buck_I.Integral",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004f4",
                "name": "PID_buck_I.Kd",
                "type": 9
            },
            {
                "address": "0x200004f0",
                "name": "PID_buck_I.Ki",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004ec",
                "name": "PID_buck_I.Kp",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000514",
                "name": "PID_buck_I.LastInput",
                "type": 9
            },
            {
                "address": "0x2000051c",
                "name": "PID_buck_I.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x20000518",
                "name": "PID_buck_I.MinIntegral",
                "type": 9
            },
            {
                "address": "0x20000524",
                "name": "PID_buck_I.OutMax",
                "type": 9
            },
            {
                "address": "0x20000520",
                "name": "PID_buck_I.OutMin",
                "type": 9
            },
            {
                "address": "0x20000508",
                "name": "PID_buck_I.pOn",
                "type": 6
            },
            {
                "address": "0x20000540",
                "name": "PID_buck_V.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x2000053c",
                "name": "PID_buck_V.DispKd",
                "type": 9
            },
            {
                "address": "0x20000538",
                "name": "PID_buck_V.DispKi",
                "type": 9
            },
            {
                "address": "0x20000534",
                "name": "PID_buck_V.DispKp",
                "type": 9
            },
            {
                "address": "0x20000548",
                "name": "PID_buck_V.FirstCompute",
                "type": 6
            },
            {
                "address": "0x2000054c",
                "name": "PID_buck_V.Integral",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000530",
                "name": "PID_buck_V.Kd",
                "type": 9
            },
            {
                "address": "0x2000052c",
                "name": "PID_buck_V.Ki",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000528",
                "name": "PID_buck_V.Kp",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000550",
                "name": "PID_buck_V.LastInput",
                "type": 9
            },
            {
                "address": "0x20000558",
                "name": "PID_buck_V.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x20000554",
                "name": "PID_buck_V.MinIntegral",
                "type": 9
            },
            {
                "address": "0x20000560",
                "name": "PID_buck_V.OutMax",
                "type": 9
            },
            {
                "address": "0x2000055c",
                "name": "PID_buck_V.OutMin",
                "type": 9
            },
            {
                "address": "0x20000544",
                "name": "PID_buck_V.pOn",
                "type": 6
            },
            {
                "address": "0x20000470",
                "name": "PID_CurrentLoopOut",
                "type": 3
            },
            {
                "address": "0x2000057c",
                "name": "PID_discharge_bat_Plimit.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x20000578",
                "name": "PID_discharge_bat_Plimit.DispKd",
                "type": 9
            },
            {
                "address": "0x20000574",
                "name": "PID_discharge_bat_Plimit.DispKi",
                "type": 9
            },
            {
                "address": "0x20000570",
                "name": "PID_discharge_bat_Plimit.DispKp",
                "type": 9
            },
            {
                "address": "0x20000584",
                "name": "PID_discharge_bat_Plimit.FirstCompute",
                "type": 6
            },
            {
                "address": "0x20000588",
                "name": "PID_discharge_bat_Plimit.Integral",
                "type": 9
            },
            {
                "address": "0x2000056c",
                "name": "PID_discharge_bat_Plimit.Kd",
                "type": 9
            },
            {
                "address": "0x20000568",
                "name": "PID_discharge_bat_Plimit.Ki",
                "type": 9
            },
            {
                "address": "0x20000564",
                "name": "PID_discharge_bat_Plimit.Kp",
                "type": 9
            },
            {
                "address": "0x2000058c",
                "name": "PID_discharge_bat_Plimit.LastInput",
                "type": 9
            },
            {
                "address": "0x20000594",
                "name": "PID_discharge_bat_Plimit.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x20000590",
                "name": "PID_discharge_bat_Plimit.MinIntegral",
                "type": 9
            },
            {
                "address": "0x2000059c",
                "name": "PID_discharge_bat_Plimit.OutMax",
                "type": 9
            },
            {
                "address": "0x20000598",
                "name": "PID_discharge_bat_Plimit.OutMin",
                "type": 9
            },
            {
                "address": "0x20000580",
                "name": "PID_discharge_bat_Plimit.pOn",
                "type": 6
            },
            {
                "address": "0x2000026c",
                "name": "sFilterConfig.FilterConfig",
                "type": 5
            },
            {
                "address": "0x20000270",
                "name": "sFilterConfig.FilterID1",
                "type": 5
            },
            {
                "address": "0x20000274",
                "name": "sFilterConfig.FilterID2",
                "type": 5
            },
            {
                "address": "0x20000264",
                "name": "sFilterConfig.FilterIndex",
                "type": 5
            },
            {
                "address": "0x20000268",
                "name": "sFilterConfig.FilterType",
                "type": 5
            },
            {
                "address": "0x20000260",
                "name": "sFilterConfig.IdType",
                "type": 5
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200005b6",
                "name": "test_loop_reference.I_Boost",
                "type": 3
            },
            {
                "address": "0x200005b2",
                "name": "test_loop_reference.I_Buck",
                "type": 3
            },
            {
                "address": "0x200005ba",
                "name": "test_loop_reference.OVP_Boost",
                "type": 3
            },
            {
                "address": "0x200005b8",
                "name": "test_loop_reference.OVP_Buck",
                "type": 3
            },
            {
                "address": "0x200005b4",
                "name": "test_loop_reference.V_Boost",
                "type": 3
            },
            {
                "address": "0x200005b0",
                "name": "test_loop_reference.V_Buck",
                "type": 3
            },
            {
                "address": "0x200005a0",
                "name": "TimingCNT",
                "type": 5
            },
            {
                "address": "0x200003b8",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000004",
                "name": "uwTickFreq",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x200005a4",
                "name": "Vbat",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200005a8",
                "name": "Vboost",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200005ac",
                "name": "Vcap",
                "type": 9,
                "checked": true
            }
        ],
        "expand": false,
        "filename": "SuperCapPowerBoard_G431_lite.elf",
        "exeModifiedTime": 1715003869996,
        "configLastUpdate": 1715003886522
    },
    {
        "id": "26408d9f22f08d37",
        "type": "exe-config",
        "name": "PID_BUCK_I",
        "exefile": "C:\\Users\\ThinkPad\\Documents\\VSCode\\EIDE\\Projects\\SuperCapPowerBoard_G431_lite\\build\\Debug\\SuperCapPowerBoard_G431_lite.elf",
        "exefolder": "C:\\Users\\ThinkPad\\Documents\\VSCode\\EIDE\\Projects\\SuperCapPowerBoard_G431_lite\\build\\Debug",
        "exevariablelist": [
            {
                "address": "0x20000278",
                "name": "ADC1Value[0]",
                "type": 3
            },
            {
                "address": "0x200003bc",
                "name": "ADC1Value_AVG_Ibat",
                "type": 5
            },
            {
                "address": "0x200003c0",
                "name": "ADC1Value_AVG_Icap",
                "type": 5
            },
            {
                "address": "0x200003c4",
                "name": "ADC1Value_SUM_Ibat[0]",
                "type": 5
            },
            {
                "address": "0x200003d4",
                "name": "ADC1Value_SUM_Icap[0]",
                "type": 5
            },
            {
                "address": "0x200003e4",
                "name": "ADC1Value_SUM_Tcore[0]",
                "type": 5
            },
            {
                "address": "0x200003f4",
                "name": "ADC1Value_SUM_Tmos[0]",
                "type": 5
            },
            {
                "address": "0x20000298",
                "name": "ADC2Value[0]",
                "type": 3
            },
            {
                "address": "0x20000404",
                "name": "ADC2Value_AVG_Vbat",
                "type": 5
            },
            {
                "address": "0x20000408",
                "name": "ADC2Value_AVG_Vboost",
                "type": 5
            },
            {
                "address": "0x2000040c",
                "name": "ADC2Value_AVG_Vcap",
                "type": 5
            },
            {
                "address": "0x20000410",
                "name": "ADC2Value_SUM_Tcap[0]",
                "type": 5
            },
            {
                "address": "0x20000420",
                "name": "ADC2Value_SUM_Vbat[0]",
                "type": 5
            },
            {
                "address": "0x20000430",
                "name": "ADC2Value_SUM_Vboost[0]",
                "type": 5
            },
            {
                "address": "0x20000440",
                "name": "ADC2Value_SUM_Vcap[0]",
                "type": 5
            },
            {
                "address": "0x20000450",
                "name": "ADC_SUM_CNT",
                "type": 5
            },
            {
                "address": "0x08004774",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x200001ca",
                "name": "CAN_RX_data.Dead",
                "type": 1
            },
            {
                "address": "0x200001c8",
                "name": "CAN_RX_data.Flag",
                "type": 1
            },
            {
                "address": "0x200001cb",
                "name": "CAN_RX_data.Move",
                "type": 1
            },
            {
                "address": "0x200001c9",
                "name": "CAN_RX_data.PowerLimint",
                "type": 1
            },
            {
                "address": "0x200001cc",
                "name": "CAN_RX_data.SuperCapCAN_Receive_T",
                "type": 1
            },
            {
                "address": "0x08004784",
                "name": "DLCtoBytes[0]",
                "type": 1
            },
            {
                "address": "0x20000454",
                "name": "FB_Ibat",
                "type": 9
            },
            {
                "address": "0x20000458",
                "name": "FB_Icap",
                "type": 9
            },
            {
                "address": "0x2000045c",
                "name": "FB_Vbat",
                "type": 9
            },
            {
                "address": "0x20000460",
                "name": "FB_Vboost",
                "type": 9
            },
            {
                "address": "0x20000464",
                "name": "FB_Vcap",
                "type": 9
            },
            {
                "address": "0x200001e4",
                "name": "FDCAN1_RxHeader.BitRateSwitch",
                "type": 5
            },
            {
                "address": "0x200001dc",
                "name": "FDCAN1_RxHeader.DataLength",
                "type": 5
            },
            {
                "address": "0x200001e0",
                "name": "FDCAN1_RxHeader.ErrorStateIndicator",
                "type": 5
            },
            {
                "address": "0x200001e8",
                "name": "FDCAN1_RxHeader.FDFormat",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "FDCAN1_RxHeader.FilterIndex",
                "type": 5
            },
            {
                "address": "0x200001d0",
                "name": "FDCAN1_RxHeader.Identifier",
                "type": 5
            },
            {
                "address": "0x200001d4",
                "name": "FDCAN1_RxHeader.IdType",
                "type": 5
            },
            {
                "address": "0x200001f4",
                "name": "FDCAN1_RxHeader.IsFilterMatchingFrame",
                "type": 5
            },
            {
                "address": "0x200001d8",
                "name": "FDCAN1_RxHeader.RxFrameType",
                "type": 5
            },
            {
                "address": "0x200001ec",
                "name": "FDCAN1_RxHeader.RxTimestamp",
                "type": 5
            },
            {
                "address": "0x20000084",
                "name": "hadc1.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "hadc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "hadc1.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x2000004d",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x2000003c",
                "name": "hadc1.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x20000054",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000068",
                "name": "hadc1.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x20000048",
                "name": "hadc1.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x2000005c",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x20000060",
                "name": "hadc1.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "hadc1.Init.GainCompensation",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "hadc1.Init.LowPowerAutoWait",
                "type": 2
            },
            {
                "address": "0x20000050",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x20000058",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x2000006c",
                "name": "hadc1.Init.Overrun",
                "type": 5
            },
            {
                "address": "0x20000080",
                "name": "hadc1.Init.Oversampling.OversamplingStopReset",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "hadc1.Init.Oversampling.Ratio",
                "type": 5
            },
            {
                "address": "0x20000078",
                "name": "hadc1.Init.Oversampling.RightBitShift",
                "type": 5
            },
            {
                "address": "0x2000007c",
                "name": "hadc1.Init.Oversampling.TriggeredMode",
                "type": 5
            },
            {
                "address": "0x20000070",
                "name": "hadc1.Init.OversamplingMode",
                "type": 2
            },
            {
                "address": "0x20000038",
                "name": "hadc1.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x20000064",
                "name": "hadc1.Init.SamplingMode",
                "type": 5
            },
            {
                "address": "0x20000044",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "hadc1.InjectionConfig.ChannelCount",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "hadc1.InjectionConfig.ContextQueue",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "hadc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "hadc1.Lock",
                "type": 2
            },
            {
                "address": "0x2000008c",
                "name": "hadc1.State",
                "type": 5
            },
            {
                "address": "0x200000f0",
                "name": "hadc2.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "hadc2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "hadc2.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x200000b9",
                "name": "hadc2.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x200000a8",
                "name": "hadc2.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "hadc2.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x200000d4",
                "name": "hadc2.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x200000b4",
                "name": "hadc2.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x200000c8",
                "name": "hadc2.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "hadc2.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "hadc2.Init.GainCompensation",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "hadc2.Init.LowPowerAutoWait",
                "type": 2
            },
            {
                "address": "0x200000bc",
                "name": "hadc2.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "hadc2.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "hadc2.Init.Overrun",
                "type": 5
            },
            {
                "address": "0x200000ec",
                "name": "hadc2.Init.Oversampling.OversamplingStopReset",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "hadc2.Init.Oversampling.Ratio",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "hadc2.Init.Oversampling.RightBitShift",
                "type": 5
            },
            {
                "address": "0x200000e8",
                "name": "hadc2.Init.Oversampling.TriggeredMode",
                "type": 5
            },
            {
                "address": "0x200000dc",
                "name": "hadc2.Init.OversamplingMode",
                "type": 2
            },
            {
                "address": "0x200000a4",
                "name": "hadc2.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x200000d0",
                "name": "hadc2.Init.SamplingMode",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "hadc2.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000104",
                "name": "hadc2.InjectionConfig.ChannelCount",
                "type": 5
            },
            {
                "address": "0x20000100",
                "name": "hadc2.InjectionConfig.ContextQueue",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "hadc2.Instance",
                "type": 5
            },
            {
                "address": "0x200000f4",
                "name": "hadc2.Lock",
                "type": 2
            },
            {
                "address": "0x200000f8",
                "name": "hadc2.State",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "HAL_RCC_ADC12_CLK_ENABLED",
                "type": 5
            },
            {
                "address": "0x2000014c",
                "name": "hdma_adc1.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x20000148",
                "name": "hdma_adc1.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x20000150",
                "name": "hdma_adc1.DMAmuxChannel",
                "type": 5
            },
            {
                "address": "0x20000154",
                "name": "hdma_adc1.DMAmuxChannelStatus",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "hdma_adc1.DMAmuxChannelStatusMask",
                "type": 5
            },
            {
                "address": "0x2000015c",
                "name": "hdma_adc1.DMAmuxRequestGen",
                "type": 5
            },
            {
                "address": "0x20000160",
                "name": "hdma_adc1.DMAmuxRequestGenStatus",
                "type": 5
            },
            {
                "address": "0x20000164",
                "name": "hdma_adc1.DMAmuxRequestGenStatusMask",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "hdma_adc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000110",
                "name": "hdma_adc1.Init.Direction",
                "type": 5
            },
            {
                "address": "0x20000120",
                "name": "hdma_adc1.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000118",
                "name": "hdma_adc1.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "hdma_adc1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x2000011c",
                "name": "hdma_adc1.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000114",
                "name": "hdma_adc1.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000128",
                "name": "hdma_adc1.Init.Priority",
                "type": 5
            },
            {
                "address": "0x2000010c",
                "name": "hdma_adc1.Init.Request",
                "type": 5
            },
            {
                "address": "0x20000108",
                "name": "hdma_adc1.Instance",
                "type": 5
            },
            {
                "address": "0x2000012c",
                "name": "hdma_adc1.Lock",
                "type": 2
            },
            {
                "address": "0x20000130",
                "name": "hdma_adc1.Parent",
                "type": 5
            },
            {
                "address": "0x2000012d",
                "name": "hdma_adc1.State",
                "type": 2
            },
            {
                "address": "0x20000140",
                "name": "hdma_adc1.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x20000134",
                "name": "hdma_adc1.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x2000013c",
                "name": "hdma_adc1.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000138",
                "name": "hdma_adc1.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200001ac",
                "name": "hdma_adc2.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x200001a8",
                "name": "hdma_adc2.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x200001b0",
                "name": "hdma_adc2.DMAmuxChannel",
                "type": 5
            },
            {
                "address": "0x200001b4",
                "name": "hdma_adc2.DMAmuxChannelStatus",
                "type": 5
            },
            {
                "address": "0x200001b8",
                "name": "hdma_adc2.DMAmuxChannelStatusMask",
                "type": 5
            },
            {
                "address": "0x200001bc",
                "name": "hdma_adc2.DMAmuxRequestGen",
                "type": 5
            },
            {
                "address": "0x200001c0",
                "name": "hdma_adc2.DMAmuxRequestGenStatus",
                "type": 5
            },
            {
                "address": "0x200001c4",
                "name": "hdma_adc2.DMAmuxRequestGenStatusMask",
                "type": 5
            },
            {
                "address": "0x200001a4",
                "name": "hdma_adc2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000170",
                "name": "hdma_adc2.Init.Direction",
                "type": 5
            },
            {
                "address": "0x20000180",
                "name": "hdma_adc2.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000178",
                "name": "hdma_adc2.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000184",
                "name": "hdma_adc2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x2000017c",
                "name": "hdma_adc2.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000174",
                "name": "hdma_adc2.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000188",
                "name": "hdma_adc2.Init.Priority",
                "type": 5
            },
            {
                "address": "0x2000016c",
                "name": "hdma_adc2.Init.Request",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "hdma_adc2.Instance",
                "type": 5
            },
            {
                "address": "0x2000018c",
                "name": "hdma_adc2.Lock",
                "type": 2
            },
            {
                "address": "0x20000190",
                "name": "hdma_adc2.Parent",
                "type": 5
            },
            {
                "address": "0x2000018d",
                "name": "hdma_adc2.State",
                "type": 2
            },
            {
                "address": "0x200001a0",
                "name": "hdma_adc2.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x20000194",
                "name": "hdma_adc2.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x2000019c",
                "name": "hdma_adc2.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000198",
                "name": "hdma_adc2.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000258",
                "name": "hfdcan1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000208",
                "name": "hfdcan1.Init.AutoRetransmission",
                "type": 2
            },
            {
                "address": "0x200001fc",
                "name": "hfdcan1.Init.ClockDivider",
                "type": 5
            },
            {
                "address": "0x2000021c",
                "name": "hfdcan1.Init.DataPrescaler",
                "type": 5
            },
            {
                "address": "0x20000220",
                "name": "hfdcan1.Init.DataSyncJumpWidth",
                "type": 5
            },
            {
                "address": "0x20000224",
                "name": "hfdcan1.Init.DataTimeSeg1",
                "type": 5
            },
            {
                "address": "0x20000228",
                "name": "hfdcan1.Init.DataTimeSeg2",
                "type": 5
            },
            {
                "address": "0x20000230",
                "name": "hfdcan1.Init.ExtFiltersNbr",
                "type": 5
            },
            {
                "address": "0x20000200",
                "name": "hfdcan1.Init.FrameFormat",
                "type": 5
            },
            {
                "address": "0x20000204",
                "name": "hfdcan1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x2000020c",
                "name": "hfdcan1.Init.NominalPrescaler",
                "type": 5
            },
            {
                "address": "0x20000210",
                "name": "hfdcan1.Init.NominalSyncJumpWidth",
                "type": 5
            },
            {
                "address": "0x20000214",
                "name": "hfdcan1.Init.NominalTimeSeg1",
                "type": 5
            },
            {
                "address": "0x20000218",
                "name": "hfdcan1.Init.NominalTimeSeg2",
                "type": 5
            },
            {
                "address": "0x2000020a",
                "name": "hfdcan1.Init.ProtocolException",
                "type": 2
            },
            {
                "address": "0x2000022c",
                "name": "hfdcan1.Init.StdFiltersNbr",
                "type": 5
            },
            {
                "address": "0x20000209",
                "name": "hfdcan1.Init.TransmitPause",
                "type": 2
            },
            {
                "address": "0x20000234",
                "name": "hfdcan1.Init.TxFifoQueueMode",
                "type": 5
            },
            {
                "address": "0x200001f8",
                "name": "hfdcan1.Instance",
                "type": 5
            },
            {
                "address": "0x20000250",
                "name": "hfdcan1.LatestTxFifoQRequest",
                "type": 5
            },
            {
                "address": "0x20000255",
                "name": "hfdcan1.Lock",
                "type": 2
            },
            {
                "address": "0x2000023c",
                "name": "hfdcan1.msgRam.ExtendedFilterSA",
                "type": 5
            },
            {
                "address": "0x20000240",
                "name": "hfdcan1.msgRam.RxFIFO0SA",
                "type": 5
            },
            {
                "address": "0x20000244",
                "name": "hfdcan1.msgRam.RxFIFO1SA",
                "type": 5
            },
            {
                "address": "0x20000238",
                "name": "hfdcan1.msgRam.StandardFilterSA",
                "type": 5
            },
            {
                "address": "0x20000248",
                "name": "hfdcan1.msgRam.TxEventFIFOSA",
                "type": 5
            },
            {
                "address": "0x2000024c",
                "name": "hfdcan1.msgRam.TxFIFOQSA",
                "type": 5
            },
            {
                "address": "0x20000254",
                "name": "hfdcan1.State",
                "type": 2
            },
            {
                "address": "0x200002cc",
                "name": "hopamp1.Init.InternalOutput",
                "type": 2
            },
            {
                "address": "0x200002c4",
                "name": "hopamp1.Init.InvertingInput",
                "type": 5
            },
            {
                "address": "0x200002d4",
                "name": "hopamp1.Init.InvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x200002c0",
                "name": "hopamp1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200002c8",
                "name": "hopamp1.Init.NonInvertingInput",
                "type": 5
            },
            {
                "address": "0x200002d8",
                "name": "hopamp1.Init.NonInvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x200002dc",
                "name": "hopamp1.Init.PgaConnect",
                "type": 5
            },
            {
                "address": "0x200002e0",
                "name": "hopamp1.Init.PgaGain",
                "type": 5
            },
            {
                "address": "0x200002bc",
                "name": "hopamp1.Init.PowerMode",
                "type": 5
            },
            {
                "address": "0x200002d0",
                "name": "hopamp1.Init.TimerControlledMuxmode",
                "type": 5
            },
            {
                "address": "0x200002ec",
                "name": "hopamp1.Init.TrimmingValueN",
                "type": 5
            },
            {
                "address": "0x200002e8",
                "name": "hopamp1.Init.TrimmingValueP",
                "type": 5
            },
            {
                "address": "0x200002e4",
                "name": "hopamp1.Init.UserTrimming",
                "type": 5
            },
            {
                "address": "0x200002b8",
                "name": "hopamp1.Instance",
                "type": 5
            },
            {
                "address": "0x200002f1",
                "name": "hopamp1.Lock",
                "type": 2
            },
            {
                "address": "0x200002f2",
                "name": "hopamp1.State",
                "type": 2
            },
            {
                "address": "0x200002f0",
                "name": "hopamp1.Status",
                "type": 2
            },
            {
                "address": "0x20000308",
                "name": "hopamp2.Init.InternalOutput",
                "type": 2
            },
            {
                "address": "0x20000300",
                "name": "hopamp2.Init.InvertingInput",
                "type": 5
            },
            {
                "address": "0x20000310",
                "name": "hopamp2.Init.InvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x200002fc",
                "name": "hopamp2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000304",
                "name": "hopamp2.Init.NonInvertingInput",
                "type": 5
            },
            {
                "address": "0x20000314",
                "name": "hopamp2.Init.NonInvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x20000318",
                "name": "hopamp2.Init.PgaConnect",
                "type": 5
            },
            {
                "address": "0x2000031c",
                "name": "hopamp2.Init.PgaGain",
                "type": 5
            },
            {
                "address": "0x200002f8",
                "name": "hopamp2.Init.PowerMode",
                "type": 5
            },
            {
                "address": "0x2000030c",
                "name": "hopamp2.Init.TimerControlledMuxmode",
                "type": 5
            },
            {
                "address": "0x20000328",
                "name": "hopamp2.Init.TrimmingValueN",
                "type": 5
            },
            {
                "address": "0x20000324",
                "name": "hopamp2.Init.TrimmingValueP",
                "type": 5
            },
            {
                "address": "0x20000320",
                "name": "hopamp2.Init.UserTrimming",
                "type": 5
            },
            {
                "address": "0x200002f4",
                "name": "hopamp2.Instance",
                "type": 5
            },
            {
                "address": "0x2000032d",
                "name": "hopamp2.Lock",
                "type": 2
            },
            {
                "address": "0x2000032e",
                "name": "hopamp2.State",
                "type": 2
            },
            {
                "address": "0x2000032c",
                "name": "hopamp2.Status",
                "type": 2
            },
            {
                "address": "0x20000344",
                "name": "hopamp3.Init.InternalOutput",
                "type": 2
            },
            {
                "address": "0x2000033c",
                "name": "hopamp3.Init.InvertingInput",
                "type": 5
            },
            {
                "address": "0x2000034c",
                "name": "hopamp3.Init.InvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x20000338",
                "name": "hopamp3.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000340",
                "name": "hopamp3.Init.NonInvertingInput",
                "type": 5
            },
            {
                "address": "0x20000350",
                "name": "hopamp3.Init.NonInvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x20000354",
                "name": "hopamp3.Init.PgaConnect",
                "type": 5
            },
            {
                "address": "0x20000358",
                "name": "hopamp3.Init.PgaGain",
                "type": 5
            },
            {
                "address": "0x20000334",
                "name": "hopamp3.Init.PowerMode",
                "type": 5
            },
            {
                "address": "0x20000348",
                "name": "hopamp3.Init.TimerControlledMuxmode",
                "type": 5
            },
            {
                "address": "0x20000364",
                "name": "hopamp3.Init.TrimmingValueN",
                "type": 5
            },
            {
                "address": "0x20000360",
                "name": "hopamp3.Init.TrimmingValueP",
                "type": 5
            },
            {
                "address": "0x2000035c",
                "name": "hopamp3.Init.UserTrimming",
                "type": 5
            },
            {
                "address": "0x20000330",
                "name": "hopamp3.Instance",
                "type": 5
            },
            {
                "address": "0x20000369",
                "name": "hopamp3.Lock",
                "type": 2
            },
            {
                "address": "0x2000036a",
                "name": "hopamp3.State",
                "type": 2
            },
            {
                "address": "0x20000368",
                "name": "hopamp3.Status",
                "type": 2
            },
            {
                "address": "0x20000388",
                "name": "htim1.Channel",
                "type": 2
            },
            {
                "address": "0x200003b0",
                "name": "htim1.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200003aa",
                "name": "htim1.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200003b4",
                "name": "htim1.DMABurstState",
                "type": 2
            },
            {
                "address": "0x2000038c",
                "name": "htim1.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000384",
                "name": "htim1.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x2000037c",
                "name": "htim1.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000374",
                "name": "htim1.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000378",
                "name": "htim1.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000370",
                "name": "htim1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000380",
                "name": "htim1.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x2000036c",
                "name": "htim1.Instance",
                "type": 5
            },
            {
                "address": "0x200003a8",
                "name": "htim1.Lock",
                "type": 2
            },
            {
                "address": "0x200003a9",
                "name": "htim1.State",
                "type": 2
            },
            {
                "address": "0x20000468",
                "name": "Ibat",
                "type": 9
            },
            {
                "address": "0x2000046c",
                "name": "Icap",
                "type": 9
            },
            {
                "address": "0x2000048c",
                "name": "PID_boost_I.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x20000488",
                "name": "PID_boost_I.DispKd",
                "type": 9
            },
            {
                "address": "0x20000484",
                "name": "PID_boost_I.DispKi",
                "type": 9
            },
            {
                "address": "0x20000480",
                "name": "PID_boost_I.DispKp",
                "type": 9
            },
            {
                "address": "0x20000494",
                "name": "PID_boost_I.FirstCompute",
                "type": 6
            },
            {
                "address": "0x20000498",
                "name": "PID_boost_I.Integral",
                "type": 9
            },
            {
                "address": "0x2000047c",
                "name": "PID_boost_I.Kd",
                "type": 9
            },
            {
                "address": "0x20000478",
                "name": "PID_boost_I.Ki",
                "type": 9
            },
            {
                "address": "0x20000474",
                "name": "PID_boost_I.Kp",
                "type": 9
            },
            {
                "address": "0x2000049c",
                "name": "PID_boost_I.LastInput",
                "type": 9
            },
            {
                "address": "0x200004a4",
                "name": "PID_boost_I.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x200004a0",
                "name": "PID_boost_I.MinIntegral",
                "type": 9
            },
            {
                "address": "0x200004ac",
                "name": "PID_boost_I.OutMax",
                "type": 9
            },
            {
                "address": "0x200004a8",
                "name": "PID_boost_I.OutMin",
                "type": 9
            },
            {
                "address": "0x20000490",
                "name": "PID_boost_I.pOn",
                "type": 6
            },
            {
                "address": "0x200004c8",
                "name": "PID_boost_V.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x200004c4",
                "name": "PID_boost_V.DispKd",
                "type": 9
            },
            {
                "address": "0x200004c0",
                "name": "PID_boost_V.DispKi",
                "type": 9
            },
            {
                "address": "0x200004bc",
                "name": "PID_boost_V.DispKp",
                "type": 9
            },
            {
                "address": "0x200004d0",
                "name": "PID_boost_V.FirstCompute",
                "type": 6
            },
            {
                "address": "0x200004d4",
                "name": "PID_boost_V.Integral",
                "type": 9
            },
            {
                "address": "0x200004b8",
                "name": "PID_boost_V.Kd",
                "type": 9
            },
            {
                "address": "0x200004b4",
                "name": "PID_boost_V.Ki",
                "type": 9
            },
            {
                "address": "0x200004b0",
                "name": "PID_boost_V.Kp",
                "type": 9
            },
            {
                "address": "0x200004d8",
                "name": "PID_boost_V.LastInput",
                "type": 9
            },
            {
                "address": "0x200004e0",
                "name": "PID_boost_V.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x200004dc",
                "name": "PID_boost_V.MinIntegral",
                "type": 9
            },
            {
                "address": "0x200004e8",
                "name": "PID_boost_V.OutMax",
                "type": 9
            },
            {
                "address": "0x200004e4",
                "name": "PID_boost_V.OutMin",
                "type": 9
            },
            {
                "address": "0x200004cc",
                "name": "PID_boost_V.pOn",
                "type": 6
            },
            {
                "address": "0x20000504",
                "name": "PID_buck_I.ControllerDirection",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x20000500",
                "name": "PID_buck_I.DispKd",
                "type": 9
            },
            {
                "address": "0x200004fc",
                "name": "PID_buck_I.DispKi",
                "type": 9
            },
            {
                "address": "0x200004f8",
                "name": "PID_buck_I.DispKp",
                "type": 9
            },
            {
                "address": "0x2000050c",
                "name": "PID_buck_I.FirstCompute",
                "type": 6
            },
            {
                "address": "0x20000510",
                "name": "PID_buck_I.Integral",
                "type": 9
            },
            {
                "address": "0x200004f4",
                "name": "PID_buck_I.Kd",
                "type": 9
            },
            {
                "address": "0x200004f0",
                "name": "PID_buck_I.Ki",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200004ec",
                "name": "PID_buck_I.Kp",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000514",
                "name": "PID_buck_I.LastInput",
                "type": 9
            },
            {
                "address": "0x2000051c",
                "name": "PID_buck_I.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x20000518",
                "name": "PID_buck_I.MinIntegral",
                "type": 9
            },
            {
                "address": "0x20000524",
                "name": "PID_buck_I.OutMax",
                "type": 9
            },
            {
                "address": "0x20000520",
                "name": "PID_buck_I.OutMin",
                "type": 9
            },
            {
                "address": "0x20000508",
                "name": "PID_buck_I.pOn",
                "type": 6
            },
            {
                "address": "0x20000540",
                "name": "PID_buck_V.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x2000053c",
                "name": "PID_buck_V.DispKd",
                "type": 9
            },
            {
                "address": "0x20000538",
                "name": "PID_buck_V.DispKi",
                "type": 9
            },
            {
                "address": "0x20000534",
                "name": "PID_buck_V.DispKp",
                "type": 9
            },
            {
                "address": "0x20000548",
                "name": "PID_buck_V.FirstCompute",
                "type": 6
            },
            {
                "address": "0x2000054c",
                "name": "PID_buck_V.Integral",
                "type": 9
            },
            {
                "address": "0x20000530",
                "name": "PID_buck_V.Kd",
                "type": 9
            },
            {
                "address": "0x2000052c",
                "name": "PID_buck_V.Ki",
                "type": 9
            },
            {
                "address": "0x20000528",
                "name": "PID_buck_V.Kp",
                "type": 9
            },
            {
                "address": "0x20000550",
                "name": "PID_buck_V.LastInput",
                "type": 9
            },
            {
                "address": "0x20000558",
                "name": "PID_buck_V.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x20000554",
                "name": "PID_buck_V.MinIntegral",
                "type": 9
            },
            {
                "address": "0x20000560",
                "name": "PID_buck_V.OutMax",
                "type": 9
            },
            {
                "address": "0x2000055c",
                "name": "PID_buck_V.OutMin",
                "type": 9
            },
            {
                "address": "0x20000544",
                "name": "PID_buck_V.pOn",
                "type": 6
            },
            {
                "address": "0x20000470",
                "name": "PID_CurrentLoopOut",
                "type": 3
            },
            {
                "address": "0x2000057c",
                "name": "PID_discharge_bat_Plimit.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x20000578",
                "name": "PID_discharge_bat_Plimit.DispKd",
                "type": 9
            },
            {
                "address": "0x20000574",
                "name": "PID_discharge_bat_Plimit.DispKi",
                "type": 9
            },
            {
                "address": "0x20000570",
                "name": "PID_discharge_bat_Plimit.DispKp",
                "type": 9
            },
            {
                "address": "0x20000584",
                "name": "PID_discharge_bat_Plimit.FirstCompute",
                "type": 6
            },
            {
                "address": "0x20000588",
                "name": "PID_discharge_bat_Plimit.Integral",
                "type": 9
            },
            {
                "address": "0x2000056c",
                "name": "PID_discharge_bat_Plimit.Kd",
                "type": 9
            },
            {
                "address": "0x20000568",
                "name": "PID_discharge_bat_Plimit.Ki",
                "type": 9
            },
            {
                "address": "0x20000564",
                "name": "PID_discharge_bat_Plimit.Kp",
                "type": 9
            },
            {
                "address": "0x2000058c",
                "name": "PID_discharge_bat_Plimit.LastInput",
                "type": 9
            },
            {
                "address": "0x20000594",
                "name": "PID_discharge_bat_Plimit.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x20000590",
                "name": "PID_discharge_bat_Plimit.MinIntegral",
                "type": 9
            },
            {
                "address": "0x2000059c",
                "name": "PID_discharge_bat_Plimit.OutMax",
                "type": 9
            },
            {
                "address": "0x20000598",
                "name": "PID_discharge_bat_Plimit.OutMin",
                "type": 9
            },
            {
                "address": "0x20000580",
                "name": "PID_discharge_bat_Plimit.pOn",
                "type": 6
            },
            {
                "address": "0x2000026c",
                "name": "sFilterConfig.FilterConfig",
                "type": 5
            },
            {
                "address": "0x20000270",
                "name": "sFilterConfig.FilterID1",
                "type": 5
            },
            {
                "address": "0x20000274",
                "name": "sFilterConfig.FilterID2",
                "type": 5
            },
            {
                "address": "0x20000264",
                "name": "sFilterConfig.FilterIndex",
                "type": 5
            },
            {
                "address": "0x20000268",
                "name": "sFilterConfig.FilterType",
                "type": 5
            },
            {
                "address": "0x20000260",
                "name": "sFilterConfig.IdType",
                "type": 5
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200005b6",
                "name": "test_loop_reference.I_Boost",
                "type": 3
            },
            {
                "address": "0x200005b2",
                "name": "test_loop_reference.I_Buck",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x200005ba",
                "name": "test_loop_reference.OVP_Boost",
                "type": 3
            },
            {
                "address": "0x200005b8",
                "name": "test_loop_reference.OVP_Buck",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x200005b4",
                "name": "test_loop_reference.V_Boost",
                "type": 3
            },
            {
                "address": "0x200005b0",
                "name": "test_loop_reference.V_Buck",
                "type": 3
            },
            {
                "address": "0x200005a0",
                "name": "TimingCNT",
                "type": 5
            },
            {
                "address": "0x200003b8",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000004",
                "name": "uwTickFreq",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x200005a4",
                "name": "Vbat",
                "type": 9
            },
            {
                "address": "0x200005a8",
                "name": "Vboost",
                "type": 9
            },
            {
                "address": "0x200005ac",
                "name": "Vcap",
                "type": 9
            }
        ],
        "expand": false,
        "filename": "SuperCapPowerBoard_G431_lite.elf",
        "exeModifiedTime": 1715003869996,
        "configLastUpdate": 1715003888195
    },
    {
        "id": "d9b69645abaa3063",
        "type": "exe-config",
        "name": "PID_SHOW",
        "exefile": "C:\\Users\\ThinkPad\\Documents\\VSCode\\EIDE\\Projects\\SuperCapPowerBoard_G431_lite\\build\\Debug\\SuperCapPowerBoard_G431_lite.elf",
        "exefolder": "C:\\Users\\ThinkPad\\Documents\\VSCode\\EIDE\\Projects\\SuperCapPowerBoard_G431_lite\\build\\Debug",
        "exevariablelist": [
            {
                "address": "0x20000278",
                "name": "ADC1Value[0]",
                "type": 3
            },
            {
                "address": "0x200003bc",
                "name": "ADC1Value_AVG_Ibat",
                "type": 5
            },
            {
                "address": "0x200003c0",
                "name": "ADC1Value_AVG_Icap",
                "type": 5
            },
            {
                "address": "0x200003c4",
                "name": "ADC1Value_SUM_Ibat[0]",
                "type": 5
            },
            {
                "address": "0x200003d4",
                "name": "ADC1Value_SUM_Icap[0]",
                "type": 5
            },
            {
                "address": "0x200003e4",
                "name": "ADC1Value_SUM_Tcore[0]",
                "type": 5
            },
            {
                "address": "0x200003f4",
                "name": "ADC1Value_SUM_Tmos[0]",
                "type": 5
            },
            {
                "address": "0x20000298",
                "name": "ADC2Value[0]",
                "type": 3
            },
            {
                "address": "0x20000404",
                "name": "ADC2Value_AVG_Vbat",
                "type": 5
            },
            {
                "address": "0x20000408",
                "name": "ADC2Value_AVG_Vboost",
                "type": 5
            },
            {
                "address": "0x2000040c",
                "name": "ADC2Value_AVG_Vcap",
                "type": 5
            },
            {
                "address": "0x20000410",
                "name": "ADC2Value_SUM_Tcap[0]",
                "type": 5
            },
            {
                "address": "0x20000420",
                "name": "ADC2Value_SUM_Vbat[0]",
                "type": 5
            },
            {
                "address": "0x20000430",
                "name": "ADC2Value_SUM_Vboost[0]",
                "type": 5
            },
            {
                "address": "0x20000440",
                "name": "ADC2Value_SUM_Vcap[0]",
                "type": 5
            },
            {
                "address": "0x20000450",
                "name": "ADC_SUM_CNT",
                "type": 5
            },
            {
                "address": "0x08004774",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x200001ca",
                "name": "CAN_RX_data.Dead",
                "type": 1
            },
            {
                "address": "0x200001c8",
                "name": "CAN_RX_data.Flag",
                "type": 1
            },
            {
                "address": "0x200001cb",
                "name": "CAN_RX_data.Move",
                "type": 1
            },
            {
                "address": "0x200001c9",
                "name": "CAN_RX_data.PowerLimint",
                "type": 1
            },
            {
                "address": "0x200001cc",
                "name": "CAN_RX_data.SuperCapCAN_Receive_T",
                "type": 1
            },
            {
                "address": "0x08004784",
                "name": "DLCtoBytes[0]",
                "type": 1
            },
            {
                "address": "0x20000454",
                "name": "FB_Ibat",
                "type": 9
            },
            {
                "address": "0x20000458",
                "name": "FB_Icap",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000045c",
                "name": "FB_Vbat",
                "type": 9
            },
            {
                "address": "0x20000460",
                "name": "FB_Vboost",
                "type": 9
            },
            {
                "address": "0x20000464",
                "name": "FB_Vcap",
                "type": 9
            },
            {
                "address": "0x200001e4",
                "name": "FDCAN1_RxHeader.BitRateSwitch",
                "type": 5
            },
            {
                "address": "0x200001dc",
                "name": "FDCAN1_RxHeader.DataLength",
                "type": 5
            },
            {
                "address": "0x200001e0",
                "name": "FDCAN1_RxHeader.ErrorStateIndicator",
                "type": 5
            },
            {
                "address": "0x200001e8",
                "name": "FDCAN1_RxHeader.FDFormat",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "FDCAN1_RxHeader.FilterIndex",
                "type": 5
            },
            {
                "address": "0x200001d0",
                "name": "FDCAN1_RxHeader.Identifier",
                "type": 5
            },
            {
                "address": "0x200001d4",
                "name": "FDCAN1_RxHeader.IdType",
                "type": 5
            },
            {
                "address": "0x200001f4",
                "name": "FDCAN1_RxHeader.IsFilterMatchingFrame",
                "type": 5
            },
            {
                "address": "0x200001d8",
                "name": "FDCAN1_RxHeader.RxFrameType",
                "type": 5
            },
            {
                "address": "0x200001ec",
                "name": "FDCAN1_RxHeader.RxTimestamp",
                "type": 5
            },
            {
                "address": "0x20000084",
                "name": "hadc1.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "hadc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "hadc1.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x2000004d",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x2000003c",
                "name": "hadc1.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x20000054",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000068",
                "name": "hadc1.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x20000048",
                "name": "hadc1.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x2000005c",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x20000060",
                "name": "hadc1.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "hadc1.Init.GainCompensation",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "hadc1.Init.LowPowerAutoWait",
                "type": 2
            },
            {
                "address": "0x20000050",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x20000058",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x2000006c",
                "name": "hadc1.Init.Overrun",
                "type": 5
            },
            {
                "address": "0x20000080",
                "name": "hadc1.Init.Oversampling.OversamplingStopReset",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "hadc1.Init.Oversampling.Ratio",
                "type": 5
            },
            {
                "address": "0x20000078",
                "name": "hadc1.Init.Oversampling.RightBitShift",
                "type": 5
            },
            {
                "address": "0x2000007c",
                "name": "hadc1.Init.Oversampling.TriggeredMode",
                "type": 5
            },
            {
                "address": "0x20000070",
                "name": "hadc1.Init.OversamplingMode",
                "type": 2
            },
            {
                "address": "0x20000038",
                "name": "hadc1.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x20000064",
                "name": "hadc1.Init.SamplingMode",
                "type": 5
            },
            {
                "address": "0x20000044",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "hadc1.InjectionConfig.ChannelCount",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "hadc1.InjectionConfig.ContextQueue",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "hadc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "hadc1.Lock",
                "type": 2
            },
            {
                "address": "0x2000008c",
                "name": "hadc1.State",
                "type": 5
            },
            {
                "address": "0x200000f0",
                "name": "hadc2.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "hadc2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "hadc2.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x200000b9",
                "name": "hadc2.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x200000a8",
                "name": "hadc2.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "hadc2.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x200000d4",
                "name": "hadc2.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x200000b4",
                "name": "hadc2.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x200000c8",
                "name": "hadc2.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "hadc2.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "hadc2.Init.GainCompensation",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "hadc2.Init.LowPowerAutoWait",
                "type": 2
            },
            {
                "address": "0x200000bc",
                "name": "hadc2.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "hadc2.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "hadc2.Init.Overrun",
                "type": 5
            },
            {
                "address": "0x200000ec",
                "name": "hadc2.Init.Oversampling.OversamplingStopReset",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "hadc2.Init.Oversampling.Ratio",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "hadc2.Init.Oversampling.RightBitShift",
                "type": 5
            },
            {
                "address": "0x200000e8",
                "name": "hadc2.Init.Oversampling.TriggeredMode",
                "type": 5
            },
            {
                "address": "0x200000dc",
                "name": "hadc2.Init.OversamplingMode",
                "type": 2
            },
            {
                "address": "0x200000a4",
                "name": "hadc2.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x200000d0",
                "name": "hadc2.Init.SamplingMode",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "hadc2.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000104",
                "name": "hadc2.InjectionConfig.ChannelCount",
                "type": 5
            },
            {
                "address": "0x20000100",
                "name": "hadc2.InjectionConfig.ContextQueue",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "hadc2.Instance",
                "type": 5
            },
            {
                "address": "0x200000f4",
                "name": "hadc2.Lock",
                "type": 2
            },
            {
                "address": "0x200000f8",
                "name": "hadc2.State",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "HAL_RCC_ADC12_CLK_ENABLED",
                "type": 5
            },
            {
                "address": "0x2000014c",
                "name": "hdma_adc1.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x20000148",
                "name": "hdma_adc1.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x20000150",
                "name": "hdma_adc1.DMAmuxChannel",
                "type": 5
            },
            {
                "address": "0x20000154",
                "name": "hdma_adc1.DMAmuxChannelStatus",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "hdma_adc1.DMAmuxChannelStatusMask",
                "type": 5
            },
            {
                "address": "0x2000015c",
                "name": "hdma_adc1.DMAmuxRequestGen",
                "type": 5
            },
            {
                "address": "0x20000160",
                "name": "hdma_adc1.DMAmuxRequestGenStatus",
                "type": 5
            },
            {
                "address": "0x20000164",
                "name": "hdma_adc1.DMAmuxRequestGenStatusMask",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "hdma_adc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000110",
                "name": "hdma_adc1.Init.Direction",
                "type": 5
            },
            {
                "address": "0x20000120",
                "name": "hdma_adc1.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000118",
                "name": "hdma_adc1.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "hdma_adc1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x2000011c",
                "name": "hdma_adc1.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000114",
                "name": "hdma_adc1.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000128",
                "name": "hdma_adc1.Init.Priority",
                "type": 5
            },
            {
                "address": "0x2000010c",
                "name": "hdma_adc1.Init.Request",
                "type": 5
            },
            {
                "address": "0x20000108",
                "name": "hdma_adc1.Instance",
                "type": 5
            },
            {
                "address": "0x2000012c",
                "name": "hdma_adc1.Lock",
                "type": 2
            },
            {
                "address": "0x20000130",
                "name": "hdma_adc1.Parent",
                "type": 5
            },
            {
                "address": "0x2000012d",
                "name": "hdma_adc1.State",
                "type": 2
            },
            {
                "address": "0x20000140",
                "name": "hdma_adc1.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x20000134",
                "name": "hdma_adc1.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x2000013c",
                "name": "hdma_adc1.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000138",
                "name": "hdma_adc1.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200001ac",
                "name": "hdma_adc2.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x200001a8",
                "name": "hdma_adc2.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x200001b0",
                "name": "hdma_adc2.DMAmuxChannel",
                "type": 5
            },
            {
                "address": "0x200001b4",
                "name": "hdma_adc2.DMAmuxChannelStatus",
                "type": 5
            },
            {
                "address": "0x200001b8",
                "name": "hdma_adc2.DMAmuxChannelStatusMask",
                "type": 5
            },
            {
                "address": "0x200001bc",
                "name": "hdma_adc2.DMAmuxRequestGen",
                "type": 5
            },
            {
                "address": "0x200001c0",
                "name": "hdma_adc2.DMAmuxRequestGenStatus",
                "type": 5
            },
            {
                "address": "0x200001c4",
                "name": "hdma_adc2.DMAmuxRequestGenStatusMask",
                "type": 5
            },
            {
                "address": "0x200001a4",
                "name": "hdma_adc2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000170",
                "name": "hdma_adc2.Init.Direction",
                "type": 5
            },
            {
                "address": "0x20000180",
                "name": "hdma_adc2.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000178",
                "name": "hdma_adc2.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000184",
                "name": "hdma_adc2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x2000017c",
                "name": "hdma_adc2.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000174",
                "name": "hdma_adc2.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000188",
                "name": "hdma_adc2.Init.Priority",
                "type": 5
            },
            {
                "address": "0x2000016c",
                "name": "hdma_adc2.Init.Request",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "hdma_adc2.Instance",
                "type": 5
            },
            {
                "address": "0x2000018c",
                "name": "hdma_adc2.Lock",
                "type": 2
            },
            {
                "address": "0x20000190",
                "name": "hdma_adc2.Parent",
                "type": 5
            },
            {
                "address": "0x2000018d",
                "name": "hdma_adc2.State",
                "type": 2
            },
            {
                "address": "0x200001a0",
                "name": "hdma_adc2.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x20000194",
                "name": "hdma_adc2.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x2000019c",
                "name": "hdma_adc2.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000198",
                "name": "hdma_adc2.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000258",
                "name": "hfdcan1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000208",
                "name": "hfdcan1.Init.AutoRetransmission",
                "type": 2
            },
            {
                "address": "0x200001fc",
                "name": "hfdcan1.Init.ClockDivider",
                "type": 5
            },
            {
                "address": "0x2000021c",
                "name": "hfdcan1.Init.DataPrescaler",
                "type": 5
            },
            {
                "address": "0x20000220",
                "name": "hfdcan1.Init.DataSyncJumpWidth",
                "type": 5
            },
            {
                "address": "0x20000224",
                "name": "hfdcan1.Init.DataTimeSeg1",
                "type": 5
            },
            {
                "address": "0x20000228",
                "name": "hfdcan1.Init.DataTimeSeg2",
                "type": 5
            },
            {
                "address": "0x20000230",
                "name": "hfdcan1.Init.ExtFiltersNbr",
                "type": 5
            },
            {
                "address": "0x20000200",
                "name": "hfdcan1.Init.FrameFormat",
                "type": 5
            },
            {
                "address": "0x20000204",
                "name": "hfdcan1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x2000020c",
                "name": "hfdcan1.Init.NominalPrescaler",
                "type": 5
            },
            {
                "address": "0x20000210",
                "name": "hfdcan1.Init.NominalSyncJumpWidth",
                "type": 5
            },
            {
                "address": "0x20000214",
                "name": "hfdcan1.Init.NominalTimeSeg1",
                "type": 5
            },
            {
                "address": "0x20000218",
                "name": "hfdcan1.Init.NominalTimeSeg2",
                "type": 5
            },
            {
                "address": "0x2000020a",
                "name": "hfdcan1.Init.ProtocolException",
                "type": 2
            },
            {
                "address": "0x2000022c",
                "name": "hfdcan1.Init.StdFiltersNbr",
                "type": 5
            },
            {
                "address": "0x20000209",
                "name": "hfdcan1.Init.TransmitPause",
                "type": 2
            },
            {
                "address": "0x20000234",
                "name": "hfdcan1.Init.TxFifoQueueMode",
                "type": 5
            },
            {
                "address": "0x200001f8",
                "name": "hfdcan1.Instance",
                "type": 5
            },
            {
                "address": "0x20000250",
                "name": "hfdcan1.LatestTxFifoQRequest",
                "type": 5
            },
            {
                "address": "0x20000255",
                "name": "hfdcan1.Lock",
                "type": 2
            },
            {
                "address": "0x2000023c",
                "name": "hfdcan1.msgRam.ExtendedFilterSA",
                "type": 5
            },
            {
                "address": "0x20000240",
                "name": "hfdcan1.msgRam.RxFIFO0SA",
                "type": 5
            },
            {
                "address": "0x20000244",
                "name": "hfdcan1.msgRam.RxFIFO1SA",
                "type": 5
            },
            {
                "address": "0x20000238",
                "name": "hfdcan1.msgRam.StandardFilterSA",
                "type": 5
            },
            {
                "address": "0x20000248",
                "name": "hfdcan1.msgRam.TxEventFIFOSA",
                "type": 5
            },
            {
                "address": "0x2000024c",
                "name": "hfdcan1.msgRam.TxFIFOQSA",
                "type": 5
            },
            {
                "address": "0x20000254",
                "name": "hfdcan1.State",
                "type": 2
            },
            {
                "address": "0x200002cc",
                "name": "hopamp1.Init.InternalOutput",
                "type": 2
            },
            {
                "address": "0x200002c4",
                "name": "hopamp1.Init.InvertingInput",
                "type": 5
            },
            {
                "address": "0x200002d4",
                "name": "hopamp1.Init.InvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x200002c0",
                "name": "hopamp1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200002c8",
                "name": "hopamp1.Init.NonInvertingInput",
                "type": 5
            },
            {
                "address": "0x200002d8",
                "name": "hopamp1.Init.NonInvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x200002dc",
                "name": "hopamp1.Init.PgaConnect",
                "type": 5
            },
            {
                "address": "0x200002e0",
                "name": "hopamp1.Init.PgaGain",
                "type": 5
            },
            {
                "address": "0x200002bc",
                "name": "hopamp1.Init.PowerMode",
                "type": 5
            },
            {
                "address": "0x200002d0",
                "name": "hopamp1.Init.TimerControlledMuxmode",
                "type": 5
            },
            {
                "address": "0x200002ec",
                "name": "hopamp1.Init.TrimmingValueN",
                "type": 5
            },
            {
                "address": "0x200002e8",
                "name": "hopamp1.Init.TrimmingValueP",
                "type": 5
            },
            {
                "address": "0x200002e4",
                "name": "hopamp1.Init.UserTrimming",
                "type": 5
            },
            {
                "address": "0x200002b8",
                "name": "hopamp1.Instance",
                "type": 5
            },
            {
                "address": "0x200002f1",
                "name": "hopamp1.Lock",
                "type": 2
            },
            {
                "address": "0x200002f2",
                "name": "hopamp1.State",
                "type": 2
            },
            {
                "address": "0x200002f0",
                "name": "hopamp1.Status",
                "type": 2
            },
            {
                "address": "0x20000308",
                "name": "hopamp2.Init.InternalOutput",
                "type": 2
            },
            {
                "address": "0x20000300",
                "name": "hopamp2.Init.InvertingInput",
                "type": 5
            },
            {
                "address": "0x20000310",
                "name": "hopamp2.Init.InvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x200002fc",
                "name": "hopamp2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000304",
                "name": "hopamp2.Init.NonInvertingInput",
                "type": 5
            },
            {
                "address": "0x20000314",
                "name": "hopamp2.Init.NonInvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x20000318",
                "name": "hopamp2.Init.PgaConnect",
                "type": 5
            },
            {
                "address": "0x2000031c",
                "name": "hopamp2.Init.PgaGain",
                "type": 5
            },
            {
                "address": "0x200002f8",
                "name": "hopamp2.Init.PowerMode",
                "type": 5
            },
            {
                "address": "0x2000030c",
                "name": "hopamp2.Init.TimerControlledMuxmode",
                "type": 5
            },
            {
                "address": "0x20000328",
                "name": "hopamp2.Init.TrimmingValueN",
                "type": 5
            },
            {
                "address": "0x20000324",
                "name": "hopamp2.Init.TrimmingValueP",
                "type": 5
            },
            {
                "address": "0x20000320",
                "name": "hopamp2.Init.UserTrimming",
                "type": 5
            },
            {
                "address": "0x200002f4",
                "name": "hopamp2.Instance",
                "type": 5
            },
            {
                "address": "0x2000032d",
                "name": "hopamp2.Lock",
                "type": 2
            },
            {
                "address": "0x2000032e",
                "name": "hopamp2.State",
                "type": 2
            },
            {
                "address": "0x2000032c",
                "name": "hopamp2.Status",
                "type": 2
            },
            {
                "address": "0x20000344",
                "name": "hopamp3.Init.InternalOutput",
                "type": 2
            },
            {
                "address": "0x2000033c",
                "name": "hopamp3.Init.InvertingInput",
                "type": 5
            },
            {
                "address": "0x2000034c",
                "name": "hopamp3.Init.InvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x20000338",
                "name": "hopamp3.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000340",
                "name": "hopamp3.Init.NonInvertingInput",
                "type": 5
            },
            {
                "address": "0x20000350",
                "name": "hopamp3.Init.NonInvertingInputSecondary",
                "type": 5
            },
            {
                "address": "0x20000354",
                "name": "hopamp3.Init.PgaConnect",
                "type": 5
            },
            {
                "address": "0x20000358",
                "name": "hopamp3.Init.PgaGain",
                "type": 5
            },
            {
                "address": "0x20000334",
                "name": "hopamp3.Init.PowerMode",
                "type": 5
            },
            {
                "address": "0x20000348",
                "name": "hopamp3.Init.TimerControlledMuxmode",
                "type": 5
            },
            {
                "address": "0x20000364",
                "name": "hopamp3.Init.TrimmingValueN",
                "type": 5
            },
            {
                "address": "0x20000360",
                "name": "hopamp3.Init.TrimmingValueP",
                "type": 5
            },
            {
                "address": "0x2000035c",
                "name": "hopamp3.Init.UserTrimming",
                "type": 5
            },
            {
                "address": "0x20000330",
                "name": "hopamp3.Instance",
                "type": 5
            },
            {
                "address": "0x20000369",
                "name": "hopamp3.Lock",
                "type": 2
            },
            {
                "address": "0x2000036a",
                "name": "hopamp3.State",
                "type": 2
            },
            {
                "address": "0x20000368",
                "name": "hopamp3.Status",
                "type": 2
            },
            {
                "address": "0x20000388",
                "name": "htim1.Channel",
                "type": 2
            },
            {
                "address": "0x200003b0",
                "name": "htim1.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200003aa",
                "name": "htim1.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200003b4",
                "name": "htim1.DMABurstState",
                "type": 2
            },
            {
                "address": "0x2000038c",
                "name": "htim1.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000384",
                "name": "htim1.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x2000037c",
                "name": "htim1.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000374",
                "name": "htim1.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000378",
                "name": "htim1.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000370",
                "name": "htim1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000380",
                "name": "htim1.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x2000036c",
                "name": "htim1.Instance",
                "type": 5
            },
            {
                "address": "0x200003a8",
                "name": "htim1.Lock",
                "type": 2
            },
            {
                "address": "0x200003a9",
                "name": "htim1.State",
                "type": 2
            },
            {
                "address": "0x20000468",
                "name": "Ibat",
                "type": 9
            },
            {
                "address": "0x2000046c",
                "name": "Icap",
                "type": 9
            },
            {
                "address": "0x2000048c",
                "name": "PID_boost_I.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x20000488",
                "name": "PID_boost_I.DispKd",
                "type": 9
            },
            {
                "address": "0x20000484",
                "name": "PID_boost_I.DispKi",
                "type": 9
            },
            {
                "address": "0x20000480",
                "name": "PID_boost_I.DispKp",
                "type": 9
            },
            {
                "address": "0x20000494",
                "name": "PID_boost_I.FirstCompute",
                "type": 6
            },
            {
                "address": "0x20000498",
                "name": "PID_boost_I.Integral",
                "type": 9
            },
            {
                "address": "0x2000047c",
                "name": "PID_boost_I.Kd",
                "type": 9
            },
            {
                "address": "0x20000478",
                "name": "PID_boost_I.Ki",
                "type": 9
            },
            {
                "address": "0x20000474",
                "name": "PID_boost_I.Kp",
                "type": 9
            },
            {
                "address": "0x2000049c",
                "name": "PID_boost_I.LastInput",
                "type": 9
            },
            {
                "address": "0x200004a4",
                "name": "PID_boost_I.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x200004a0",
                "name": "PID_boost_I.MinIntegral",
                "type": 9
            },
            {
                "address": "0x200004ac",
                "name": "PID_boost_I.OutMax",
                "type": 9
            },
            {
                "address": "0x200004a8",
                "name": "PID_boost_I.OutMin",
                "type": 9
            },
            {
                "address": "0x20000490",
                "name": "PID_boost_I.pOn",
                "type": 6
            },
            {
                "address": "0x200004c8",
                "name": "PID_boost_V.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x200004c4",
                "name": "PID_boost_V.DispKd",
                "type": 9
            },
            {
                "address": "0x200004c0",
                "name": "PID_boost_V.DispKi",
                "type": 9
            },
            {
                "address": "0x200004bc",
                "name": "PID_boost_V.DispKp",
                "type": 9
            },
            {
                "address": "0x200004d0",
                "name": "PID_boost_V.FirstCompute",
                "type": 6
            },
            {
                "address": "0x200004d4",
                "name": "PID_boost_V.Integral",
                "type": 9
            },
            {
                "address": "0x200004b8",
                "name": "PID_boost_V.Kd",
                "type": 9
            },
            {
                "address": "0x200004b4",
                "name": "PID_boost_V.Ki",
                "type": 9
            },
            {
                "address": "0x200004b0",
                "name": "PID_boost_V.Kp",
                "type": 9
            },
            {
                "address": "0x200004d8",
                "name": "PID_boost_V.LastInput",
                "type": 9
            },
            {
                "address": "0x200004e0",
                "name": "PID_boost_V.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x200004dc",
                "name": "PID_boost_V.MinIntegral",
                "type": 9
            },
            {
                "address": "0x200004e8",
                "name": "PID_boost_V.OutMax",
                "type": 9
            },
            {
                "address": "0x200004e4",
                "name": "PID_boost_V.OutMin",
                "type": 9
            },
            {
                "address": "0x200004cc",
                "name": "PID_boost_V.pOn",
                "type": 6
            },
            {
                "address": "0x20000504",
                "name": "PID_buck_I.ControllerDirection",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x20000500",
                "name": "PID_buck_I.DispKd",
                "type": 9
            },
            {
                "address": "0x200004fc",
                "name": "PID_buck_I.DispKi",
                "type": 9
            },
            {
                "address": "0x200004f8",
                "name": "PID_buck_I.DispKp",
                "type": 9
            },
            {
                "address": "0x2000050c",
                "name": "PID_buck_I.FirstCompute",
                "type": 6
            },
            {
                "address": "0x20000510",
                "name": "PID_buck_I.Integral",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200004f4",
                "name": "PID_buck_I.Kd",
                "type": 9
            },
            {
                "address": "0x200004f0",
                "name": "PID_buck_I.Ki",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200004ec",
                "name": "PID_buck_I.Kp",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000514",
                "name": "PID_buck_I.LastInput",
                "type": 9
            },
            {
                "address": "0x2000051c",
                "name": "PID_buck_I.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x20000518",
                "name": "PID_buck_I.MinIntegral",
                "type": 9
            },
            {
                "address": "0x20000524",
                "name": "PID_buck_I.OutMax",
                "type": 9
            },
            {
                "address": "0x20000520",
                "name": "PID_buck_I.OutMin",
                "type": 9
            },
            {
                "address": "0x20000508",
                "name": "PID_buck_I.pOn",
                "type": 6
            },
            {
                "address": "0x20000540",
                "name": "PID_buck_V.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x2000053c",
                "name": "PID_buck_V.DispKd",
                "type": 9
            },
            {
                "address": "0x20000538",
                "name": "PID_buck_V.DispKi",
                "type": 9
            },
            {
                "address": "0x20000534",
                "name": "PID_buck_V.DispKp",
                "type": 9
            },
            {
                "address": "0x20000548",
                "name": "PID_buck_V.FirstCompute",
                "type": 6
            },
            {
                "address": "0x2000054c",
                "name": "PID_buck_V.Integral",
                "type": 9
            },
            {
                "address": "0x20000530",
                "name": "PID_buck_V.Kd",
                "type": 9
            },
            {
                "address": "0x2000052c",
                "name": "PID_buck_V.Ki",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000528",
                "name": "PID_buck_V.Kp",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000550",
                "name": "PID_buck_V.LastInput",
                "type": 9
            },
            {
                "address": "0x20000558",
                "name": "PID_buck_V.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x20000554",
                "name": "PID_buck_V.MinIntegral",
                "type": 9
            },
            {
                "address": "0x20000560",
                "name": "PID_buck_V.OutMax",
                "type": 9
            },
            {
                "address": "0x2000055c",
                "name": "PID_buck_V.OutMin",
                "type": 9
            },
            {
                "address": "0x20000544",
                "name": "PID_buck_V.pOn",
                "type": 6
            },
            {
                "address": "0x20000470",
                "name": "PID_CurrentLoopOut",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x2000057c",
                "name": "PID_discharge_bat_Plimit.ControllerDirection",
                "type": 6
            },
            {
                "address": "0x20000578",
                "name": "PID_discharge_bat_Plimit.DispKd",
                "type": 9
            },
            {
                "address": "0x20000574",
                "name": "PID_discharge_bat_Plimit.DispKi",
                "type": 9
            },
            {
                "address": "0x20000570",
                "name": "PID_discharge_bat_Plimit.DispKp",
                "type": 9
            },
            {
                "address": "0x20000584",
                "name": "PID_discharge_bat_Plimit.FirstCompute",
                "type": 6
            },
            {
                "address": "0x20000588",
                "name": "PID_discharge_bat_Plimit.Integral",
                "type": 9
            },
            {
                "address": "0x2000056c",
                "name": "PID_discharge_bat_Plimit.Kd",
                "type": 9
            },
            {
                "address": "0x20000568",
                "name": "PID_discharge_bat_Plimit.Ki",
                "type": 9
            },
            {
                "address": "0x20000564",
                "name": "PID_discharge_bat_Plimit.Kp",
                "type": 9
            },
            {
                "address": "0x2000058c",
                "name": "PID_discharge_bat_Plimit.LastInput",
                "type": 9
            },
            {
                "address": "0x20000594",
                "name": "PID_discharge_bat_Plimit.MaxIntegral",
                "type": 9
            },
            {
                "address": "0x20000590",
                "name": "PID_discharge_bat_Plimit.MinIntegral",
                "type": 9
            },
            {
                "address": "0x2000059c",
                "name": "PID_discharge_bat_Plimit.OutMax",
                "type": 9
            },
            {
                "address": "0x20000598",
                "name": "PID_discharge_bat_Plimit.OutMin",
                "type": 9
            },
            {
                "address": "0x20000580",
                "name": "PID_discharge_bat_Plimit.pOn",
                "type": 6
            },
            {
                "address": "0x2000026c",
                "name": "sFilterConfig.FilterConfig",
                "type": 5
            },
            {
                "address": "0x20000270",
                "name": "sFilterConfig.FilterID1",
                "type": 5
            },
            {
                "address": "0x20000274",
                "name": "sFilterConfig.FilterID2",
                "type": 5
            },
            {
                "address": "0x20000264",
                "name": "sFilterConfig.FilterIndex",
                "type": 5
            },
            {
                "address": "0x20000268",
                "name": "sFilterConfig.FilterType",
                "type": 5
            },
            {
                "address": "0x20000260",
                "name": "sFilterConfig.IdType",
                "type": 5
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200005b6",
                "name": "test_loop_reference.I_Boost",
                "type": 3
            },
            {
                "address": "0x200005b2",
                "name": "test_loop_reference.I_Buck",
                "type": 3
            },
            {
                "address": "0x200005ba",
                "name": "test_loop_reference.OVP_Boost",
                "type": 3
            },
            {
                "address": "0x200005b8",
                "name": "test_loop_reference.OVP_Buck",
                "type": 3
            },
            {
                "address": "0x200005b4",
                "name": "test_loop_reference.V_Boost",
                "type": 3
            },
            {
                "address": "0x200005b0",
                "name": "test_loop_reference.V_Buck",
                "type": 3
            },
            {
                "address": "0x200005a0",
                "name": "TimingCNT",
                "type": 5
            },
            {
                "address": "0x200003b8",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000004",
                "name": "uwTickFreq",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x200005a4",
                "name": "Vbat",
                "type": 9
            },
            {
                "address": "0x200005a8",
                "name": "Vboost",
                "type": 9
            },
            {
                "address": "0x200005ac",
                "name": "Vcap",
                "type": 9
            }
        ],
        "expand": false,
        "filename": "SuperCapPowerBoard_G431_lite.elf",
        "exeModifiedTime": 1715003869996,
        "configLastUpdate": 1715003889860
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]